.oe-root {
  position: fixed;
  z-index: var(--z-index-tooltip);
  display: none;
  max-width: calc(100% - 56px);
  visibility: hidden;
  backdrop-filter: var(--filter);
  box-shadow: var(--shadow);
  border-radius: 12px;
  overflow: hidden;
  pointer-events: none;
  will-change: visibility, width, height, top, left;
}
.oe-content {
  padding: 12px 20px;
  background: var(--bg-color-opt);
  backdrop-filter: var(--filter);
}
.oe-tag {
  color: var(--text-color);
}
.oe-comp {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}
.oe-file {
  display: block;
  text-decoration: underline;
  word-wrap: break-word;
  color: var(--text-color2);
}
.oe-show {
  display: inline-block;
  visibility: hidden;
}
