:host {
  --min-w: 280px;
  --w: min(calc(100vw - 96px), 500px);
  --h: min(calc(100vh - 148px), 300px);
}
.oe-root {
  display: none;
  touch-action: none;
}
.oe-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-tree);
  width: 100vw;
  height: 100vh;
  backdrop-filter: var(--filter);
}
.oe-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: var(--z-index-tree);
  transform: translate(-50%, -50%);
  color: var(--text-color);
  background: var(--bg-color-opt);
  backdrop-filter: var(--filter);
  box-shadow: var(--shadow);
  border-radius: 16px;
}
.oe-close {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 8px;
  width: 32px;
  height: 32px;
  color: var(--text-color);
  background: transparent;
  border: none;
  border-radius: 99px;
}
.oe-close:hover {
  backdrop-filter: invert(50%);
}
.oe-body {
  padding: 20px 28px;
  overflow: hidden;
}
.oe-error,
.oe-error * {
  color: var(--red);
}
.oe-error .oe-close:hover {
  background: var(--red-light);
}
.oe-title {
  box-sizing: border-box;
  min-width: var(--min-w);
  max-width: var(--w);
  padding: 0 12px 12px 0;
  font-size: 18px;
  font-weight: 600;
}
.oe-tag {
  font-size: 14px;
  font-weight: 400;
}
.oe-content {
  min-width: var(--min-w);
  max-width: var(--w);
  max-height: var(--h);
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
}
.oe-content::-webkit-scrollbar {
  display: none;
}
.oe-content > .oe-tree {
  margin-left: -10px;
}
.oe-tree {
  position: relative;
  padding-left: 10px;
  width: fit-content;
}
.oe-line {
  position: absolute;
  left: 11px;
  top: 22px;
  opacity: 0.2;
  width: 1px;
  height: calc(100% - 44px);
  background: var(--text-color);
}
.oe-node {
  margin: 2px 0;
  width: fit-content;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.6;
}
.oe-node[title]:hover,
.oe-node[title]:hover ~ .oe-node {
  opacity: 1;
}
.oe-node[title]:hover ~ .oe-line {
  opacity: 0.6;
}
.oe-file {
  padding-left: 6px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  color: var(--text-color2);
  pointer-events: none;
}
.oe-show {
  display: block;
}
