shamefully-hoist=true
strict-peer-dependencies=false
fetch-retry-maxtimeout=6000000
fetch-retry-mintimeout=1000000
link-workspace-packages=true
save-workspace-protocol=false
prefer-workspace-packages=true