.o-e-position {
  position: fixed;
  z-index: var(--z-index-overlay);
  display: none;
  pointer-events: none;
  will-change: width, height, top, left;
}
.o-e-position * {
  will-change: width, height, border;
}
.o-e-margin {
  border: 0px solid var(--overlay-margin);
}
.o-e-border {
  border: 0px solid var(--overlay-border);
}
.o-e-padding {
  border: 0px solid var(--overlay-padding);
}
.o-e-content {
  background: var(--overlay-content);
}
.o-e-show {
  display: block;
}
