* {
  box-sizing: content-box;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  cursor: default;
  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none;
}
:host {
  all: initial !important;

  --overlay-margin: #f6b26ba8;
  --overlay-border: #ffe599a8;
  --overlay-padding: #93c47d8c;
  --overlay-content: #6fa7dca8;

  --z-index-overlay: 2147483643;
  --z-index-toggle: 2147483644;
  --z-index-tooltip: 2147483645;
  --z-index-tree: 2147483646;
  --z-index-error-overlay: 2147483647;
}
.oe-error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-error-overlay);
}
