.oe-root {
  position: fixed;
  right: 0px;
  z-index: var(--z-index-toggle);
  padding: 6px;
  font-size: 0px;
}
.oe-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
}
.oe-button {
  padding: 2px;
  width: 24px;
  height: 24px;
  color: var(--text-color);
  background: var(--bg-color);
  box-shadow: var(--shadow);
  border: none;
  outline: none;
  border-radius: 999px;
  transition: all 0.1s;
}
.oe-active {
  color: var(--cyan);
  box-shadow: 0 0 30px 6px var(--cyan);
}
.oe-touch {
  padding: 8px;
}
.oe-touch .oe-button {
  padding: 3px;
  width: 34px;
  height: 34px;
}
.oe-dnd {
  cursor: ns-resize;
}
.oe-dnd .oe-overlay {
  display: block;
}
.oe-dnd .oe-button {
  transform: scale(1.2);
  opacity: 0.8;
  cursor: ns-resize;
}
