.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 30px;
  border: 10px solid #000;
}

.parent {
  width: 100%;
  height: 100%;
}

.parent div {
  flex: 1;
  height: 100%;
}

.child {
  height: 100%;
}
